/* Estilos generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom,#FBFBFB,#EAE2C6);
  color:#493628;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

/* Estilos del título */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos del párrafo */
p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: justify;
  max-width: 500px;
}
li {
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: justify;
  max-width: 500px;
}
/* Estilos de la imagen */
img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos del botón */
button {
  background-color: #CBA35C;
  color: #FBFBFB;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 20px;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #754E1A;
}
input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #CBA35C; /* Color dorado suave */
  border-radius: 8px;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}

